<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/styleLogin.css">
</head>
<body>
  <div class="login-page">
    <div class="form">
      <div class="title">Login</div>
      <form class="login-form" method="POST" action="/">
        <input type="text" placeholder="User Name" name="username" id="username" />
        <input type="password" placeholder="Password" name="password" id="password" />
        <div class="inputfield">
          <button type="submit" name="submit" id="submit" class="btn">submit</button>
        </div>
      </form>
    </div>
  </div>
  
</body>
</html>